<!-- Footer -->
<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">© 2025 UniNav. All rights reserved.</p>
        <div class="footer-links">
            <a href="/privacy" class="footer-link">Privacy Policy</a>
            <a href="/termsCondition" class="footer-link">Terms & Conditions</a>
            <a href="../dbs" class="footer-link">Database</a>
        </div>
    </div>
</footer>